* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

.fondo {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: rgb(13, 113, 113);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

aside {
  padding: 2rem;
  color: white;
  position: sticky;
  top: 0;
  height: 5%;
  display: flex;
  flex-direction: column;
}

.logo {
  font-weight: 400;
  font-size: 1.3rem;
}

.texto-footer {
  color: black;
}

main {
  background-color: white;
  margin: 1rem;
  margin-left: 0;
  padding: 2rem;
  border-radius: 2rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.imagen img {
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #0a0404;
  border-radius: 1rem;
}

#carrito {
  display: flex;
  text-align: center;
  justify-content: center;
}

.producto h2,
.precio,
.btnAgregar {
  background-color: rgb(13, 113, 113);
  padding: 0.5rem;
  text-align: center;
  justify-content: center;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 200px;
}

.btnAgregar {
  border: 0;
  background-color: whitesmoke;
  padding: 1.5rem;
  border-radius: 1rem;
}

.btnAgregar :hover {
  background-color: rgb(82, 201, 201);
}
